## compiled source/environment ##
#################################
.DS_Store
*.egg-info
*.exe
.idea
.idea/*
*.pyc
__pycache__
.ipynb_checkpoints/*
build/*
dist/*
resources/analyses/.DS_Store
resources/analyses/.ipynb_checkpoints/*
env/.env

## testing resources ##
#################################
*.mypy*
.coverage*
coverage.xml
.notipy.json
.single_run
.vscode/

## directories ##
#################################
omop2obo/*

## scripts ##
#################################
scratch.py
